[2018-12-10 16:01] kylebebak opened #1 "Writing tests"
There are currently tests for the functions in src/utils.js, but not for anything else.

It's especially important that the code in src/Dropzone.js is well-tested, as it handles the core functionality.

I think tests can be inspired by the tests in [react-dropzone](https://github.com/react-dropzone/react-dropzone/blob/master/src/index.spec.js). This library shares a lot of functionality with react

[2018-12-10 16:12] kylebebak opened #2 "Traversing and handling all files in a dropped directory"
Traverse directory and its sub-directories recursively, and handle all files within it, when a directory is dropped.

Looks like this is relevant: <https://stackoverflow.com/questions/3590058/does-html5-allow-drag-drop-upload-of-folders-or-a-folder-tree>.

[2018-12-10 16:28] kylebebak opened #3 "More built-in components to choose from"
RDU allows for [component injection](https://react-dropzone-uploader.js.org/docs/customization#component-injection) via the `InputComponent`, `PreviewComponent`, and `SubmitButtonComponent` props.

File uploaders share the same core functionality, but there are many different ways they can look and behave. It would be great to give users many polished options to pick from to build their uploaders.

[2018-12-10 16:45] kylebebak opened #4 "Add support for older browsers"
It would be excellent to add support for the following browsers:

- Safari <10
  + haven't tested on these browsers, not sure if RDU works on them
- IE 10
  + some dropzones don't even render; default styles use flexbox... do we need CSS browser prefixes?
- IE 11
  + works fairly well if `babel-polyfill` is used; at the very least, `Promise` needs to be polyfilled

Getting RDU to work decently on

[2018-12-10 17:04] kylebebak opened #5 "More real-world examples (S3, Azure)"
The docs have a page on [uploading files to S3](https://react-dropzone-uploader.js.org/docs/s3), but there's no live example.

A live example might require an S3 bucket with public write access, or a publicly accessible endpoint that hands out presigned upload URLs.

RDU makes uploading files to S3 almost trivial, but this isn't so apparent without a live example.

Also, it would be good to add a

[2018-12-10 17:11] kylebebak opened #6 "Reduce bundle size"
Currently, importing the default stylesheet is optional, which can save a kB or so from min-zipped bundle size for users that don't want to use the default styles.

It would be good to do the same thing with `propTypes` to shave off a couple more kB, at least in the production build. Importing prop types ought to be optional.

Also, it would be good to allow users to only import `Dropzone`, withou

[2019-01-02 19:55] kylebebak opened #7 "Add TypeScript declarations"

[2019-02-01 18:34] kylebebak commented on #4
Ok, I tested and RDU **also works on Safari 9** as long as `Promise` is polyfilled, e.g. using `babel-polyfill`.

Safari 8 and IE 10 don't support flexbox. I don't think making RDU work on either of them is worth the effort.

- IE 10 is dead, [at least officially](https://news.ycombinator.com/item?id=19026335)
- Safari 9 is available to everyone running at least OS X version 10.9 (Mavericks), [whi

[2019-02-01 18:34] #4 closed

[2019-02-08 18:28] kevotovar commented on #7
Hi @kylebebak!  Can I take this issue?

[2019-02-14 03:13] tzkmx commented on #1
I'm just willing to get more experience on testing real world components. I'll take a look to the library you link, and try to contribute some tests. Along with TS typings that would help me a lot in my day job.

[2019-02-15 16:02] kylebebak commented on #1
Hey there!

[I just added instructions](https://github.com/fortana-co/react-dropzone-uploader#running-dev) for running dev to the README and to the docs site.

Go ahead and fork the repo, run dev, and get a feeling for the code base. The prop types are documented in the code, [and also here](https://react-dropzone-uploader.js.org/docs/props).

I would love help with TS annotations as well!

[2019-02-17 20:02] kylebebak commented on #7
Hey @kevotovar !

[I added instructions](https://github.com/fortana-co/react-dropzone-uploader#running-dev) to the README for running dev.

Fork the repo, run dev, and get a feeling for the code base. The prop types are documented in the code, [and also here](https://react-dropzone-uploader.js.org/docs/props).

I think this is a good time to work on TS annotations, because the API for RDU is prett

[2019-03-09 21:16] gil-air-may opened #8 "Cannot add styles"
Hello, I am trying to style the `Dropzone` component. But no matter what I try, the Dropzone component does not change its appearance. It stays default.

At the top of React component I have

`import classes from "./IdeaForm.module.css";`

...and inside the render method

[code]

I have also tried without using CSS modules, but it didn't work.

My IdeaForm.module.css file:

[code]
I have imported

[2019-03-12 06:40] kylebebak commented on #8
Hey there!

The `styles`, `classNames` and `addClassNames` props should all be object literals, not strings.

Change your code to something like this:

[code]

Basically, these object literals let you override many different styles in RDU with just one prop. For example, if you wanted to override the style of the dropzone when it's active, when files are being rejected, and when it's disabled, you

[2019-03-12 14:23] simonflk opened #9 "Old version published as 2.7.0"
Hi, it looks like the version published to npm as 2.7.0 is something prior to 2.6.0.

I just came across this component, and it looks _perfect_ for my needs. Thank you! I just need to use the `body` parameter from `getUploadParams`, but it looked like it's not getting set. When I run the dist file through `prettier` I can see that it doesn't have this option.

I was going to submit a pull request

[2019-03-12 14:50] simonflk commented on #9
Nevermind, I looked again, and it is there, and I was doing something stupid.

[2019-03-12 14:50] #9 closed

[2019-03-12 14:51] gil-air-may commented on #8
Gotcha! Thanks a lot!

[2019-03-12 22:11] kylebebak commented on #8
If you have any more trouble with this let me know. I'm going to close this.

[2019-03-12 22:11] #8 closed

[2019-03-16 20:46] zdubash opened #10 "Keyboard-only accessibility"
Hi Kyle, noticed that Dropzone is not easily usable to those that browse the web without a mouse. In your examples, I am unable to tab into the drop zone in order to open the upload window.

Would it be possible to add this functionality?

[2019-03-18 10:06] indraakkk opened #11 "CSV files detect as reject file"
I was able to check is the image file or not, but when accepted file is CSV, `extra.reject = true` while file dragging

**How to reproduce error**
[code]

drag your .csv file to dropzone area, then check your console log, you can see `reject = true`, but after you release mouse click, file became accepted

Please help to assist

[2019-03-19 08:47] kylebebak commented on #10
Will look into this. It may be difficult.

Related discussion for react-dropzone, where this hasn't been implemented. The issue is that the `input` has a style of `display: none`, and this means it can't be given a `tabIndex` attribute.

The input label is what's actually displayed. I can't remember exactly why this is the case.

- <https://github.com/react-dropzone/react-dropzone/issues/161>
- <h

[2019-03-19 09:25] kylebebak commented on #11
Try changing your code to this:

[code]

Now your `.csv` file won't be rejected on drag over, because we're using a MIME type instead of a file name. The is because the file name, unlike the MIME type, isn't available in the drag handler, but only on the drop handler. This is a limitation of `event.dataTransfer`.

I'm not sure what the best way to handle this is. There are two options:

1. Reject

[2019-04-02 00:26] nchen63 commented on #7
Ugh, I didn't realize that there already was a feature branch for the typings https://github.com/fortana-co/react-dropzone-uploader/tree/feature/typescript

[2019-04-02 01:56] kylebebak commented on #7
@nchen63
That feature branch has some exploratory junk, but nothing usable... So your efforts were definitely not in vain!

In the last few days I actually started working on an `index.d.ts` as well, in master. I'll take your type declarations, add them to what I've got, and push a release with TypeScript support within the next week =)

I was thinking I'd change `examples/src/index.js`, which is

[2019-04-04 21:41] kylebebak commented on #7
[TS declarations](https://github.com/fortana-co/react-dropzone-uploader/blob/master/src/Dropzone.d.ts) ship with `2.8.0`. They're tested against the code in <https://github.com/fortana-co/react-dropzone-uploader/blob/master/examples/src/index.tsx>.

@nchen63
I took your definitions and added to them. Thanks again!

[2019-04-04 21:41] #7 closed

[2019-04-04 21:47] kylebebak opened #13 "Include an example for uploading file from data URL"
Imagine you have a data URL, like the ones you get from selecting **Copy Image Address** from Google image search.

How do we create a `File` instance and get this file "into" RDU without clicking on the file uploader?

[2019-04-04 21:48] kylebebak commented on #13
Solution is to use the new `initialFiles` prop, which allows files to be "added" to a `Dropzone` instance when the component mounts.

[Example here](https://react-dropzone-uploader.js.org/docs/examples#initial-file-from-data-url).

[2019-04-04 21:48] #13 closed

[2019-04-07 14:35] gerhardcit opened #14 "Override upload button"
I'm struggling to override the uploader with my own upload button on a mobi design.

Is there a change you can create mobi samples where the input:type=[file] is handled in this way?
https://reactjs.org/blog/2018/03/29/react-v-16-3.html#createref-api

In mobile design you typically only have a camera button and it get's very specifically styled by the designers.

[2019-04-14 18:41] kylebebak commented on #14
@gerhardcit

Hey Gerhard. I'm not sure whether you want to override `SubmitButton` or `Input` -- I'm guessing `Input`.

RDU uses [component injection](https://react-dropzone-uploader.js.org/docs/customization#component-injection) to let you totally override the file `Preview`, the `Input`, the `SubmitButton`, or the entire `Layout` of the dropzone.

Here are live examples for overriding [Preview](

[2019-04-14 19:25] kylebebak commented on #14
Also, I'll soon be releasing a version that exports `getFilesFromEvent`, which means you could write

`onChange={e => { onFiles(getFilesFromEvent(e)) }}`

instead of

`onChange={e => { onFiles(Array.prototype.slice.call(e.target.files)) }}`

This function can handle change events for an input or drop events for a `div`, `p`, etc.

[2019-04-14 19:52] kylebebak commented on #11
I've given this some thinking. The file name is available in the drop event **but not the drag event**. This means if you use an accept attribute that matches file name, like `.csv`, instead of MIME type, like `text/csv`, any implementation is bound to result in one of two inconsistencies. Imagine you use `accept=".csv"`.

1. If we reject files with no file name, files like "file.csv" will be reje

[2019-04-16 03:41] kylebebak commented on #14
Ok, `getFilesFromEvent` now exported in `2.9.0`. See here for [live example of custom Input component](https://react-dropzone-uploader.js.org/docs/examples#!/Custom%20Input).

@gerhardcit
Closing, if you have any trouble let me know.

[2019-04-16 03:41] #14 closed

[2019-04-16 03:43] kylebebak commented on #11
This new behavior just shipped in `2.9.0`.

@indraakkk
Closing this. Give it a try, and let me know if you have any trouble. Thanks for creating the issue!

[2019-04-16 03:43] #11 closed

[2019-05-06 02:43] kylebebak commented on #2
This is now possible in 2.10.0.

[See a live example here](https://react-dropzone-uploader.js.org/docs/examples#!/Custom%20Input,%20Directory%20Drag%20and%20Drop).

[2019-05-06 02:43] #2 closed

[2019-05-08 17:31] Stardog opened #16 "Synthetic event error"
In version 2.10 I am experiencing the following warning when I try to select an image for upload:

`Warning: This synthetic event is reused for performance reasons. If you're seeing this, you're accessing the property `target` on a released/nullified synthetic event. This is set to null. If you must keep the original synthetic event around, use event.persist(). See https://fb.me/react-event-poolin

[2019-06-11 05:50] pavlof01 opened #17 "wrong types of getFilesFromEvent func"
getFilesFromEvent func return type `Promise<(File | DataTransferItem)[]>` but onFiles func get File[] type for that tslint get error, if use `@ts-ignore` works good, but i think it would be fix if change some types

[2019-07-01 18:54] kylebebak commented on #16
@Stardog

Sorry I didn't get a chance to look at this until now. Work has been crazy, but this month I've got more free time and a colleague and I are going to make some improvements to the library, including fixing this issue.

Thanks for reporting it!

[2019-07-04 19:35] g-bar commented on #17
Can you give me steps to reproduce? This is hard to understand with the information you've given.

You might be able to fix the problem by casting the result of `getFilesFromEvent` to the appropriate type, but I would be happy to improve types if I knew what your problem was.

[2019-07-04 23:29] neilchaudhuri opened #18 "Submitting Without a Submit Button"
I have customized the uploader to upload to S3, but I would like to run a callback once all files have been uploaded--basically what `SubmitButtonComponent` does--but without the need for a user to click a button. I have tried adding my own `SubmitButtonComponent`, but I can't figure out how to trigger "submission" without manual intervention.

Any ideas would be appreciated. What's the thinking b

[2019-07-12 01:30] g-bar commented on #16
This issue has been solved in the latest version (2.10.1).

[2019-07-12 01:44] #16 closed

[2019-07-15 19:00] g-bar commented on #18
Hi @neilchaudhuri , thanks for the feedback.

You can see an example that does something similar to what you describe (check for file status in onChangeStatus) in the [react-dropzone-uploader](https://react-dropzone-uploader.js.org/docs/examples#!/Single%20File,%20Auto%20Submit) documentation.

Currently there is no support for an onSubmit callback without a SubmitButton component, although you co

[2019-07-23 16:39] BrickBeard commented on #5
I would also like to see an example of how to implement the S3 upload functionality with multi-part uploads.  I am able to get the single upload to work but not multiple.

[2019-07-29 14:46] fppden opened #19 "Custom uploadFile function"
Hi guys and thanks for the great component!

I would like to ask if it is possible to add an ability to completely override the behavior of the `uploadFile` function? There is a quite complicated upload procedure in my current project; in fact, I use the _@azure/storage-blob_ package to upload files to the cloud and it turns out that a single POST request made by _react-dropzone-uploader_ is not e

[2019-08-01 17:42] codefist commented on #5
Having problems with this:

const getUploadParams = async ({ file, meta: { name } }) => {
  const { fileUrl, uploadUrl } = await getSignedUrlForFilename(name)
  return { body: file, meta: { fileUrl }, url: uploadUrl }
}

export const getSignedUrlForFilename = (filename) => {
  axios.get('http://localhost:3001/s3/sign', {
    params: {
      fileName: filename
    }
  }).then(data => { return data

[2019-08-05 11:23] cgraupner-bm opened #20 "Seems not to work with create-react-app"
If I try to use the library inside a create-react-app project, I get compilation error:
[code]
Steps to reproduce:
1. Create react-app project
[code]
2. install react-dropzone-uploader
[code]

3. Modify `src/App.tsx` to include dropzone. (It's the Standard example from your examples in Typescript)
Edit the `src/app.tsx` and include the following code before `const App: [...]`
[code]

4. Add `<Stan

[2019-08-07 07:08] g-bar commented on #20
Hi @cgraupner-bm

Thanks for reporting this issue.
Try importing from `react-dropzone-uploader` (instead of `"react-dropzone-uploader/dist/Dropzone"`)like this:

[code]

it works and you still get typescript type checking.

Let me know if that solves it.

[2019-08-07 16:19] wereHamster commented on #6
I just noticed that the bundle includes react, object-assign, probably also some parts of react runtime etc, none which are not really needed when you import this library into standard React project (CRA, Next.js etc), and contribute to the large bundle size.

Furthermore, the package on NPM is not friendly to debuggers, since it's already minified and there are no source maps available.

[2019-08-09 01:13] cameronbraid opened #24 "errors with TypeScript"
versions :

- react-dropzone-uploader: 2.10.1
- typescript: 3.0.3
- awesome-typescript-loader : 5.2.1

[code]

import code :

[code]

[2019-08-10 19:44] wereHamster commented on #24
Try upgrading typescript, I wasn't getting any errors with the latest version of the compiler.

The problem is in package.json, where [types](https://github.com/fortana-co/react-dropzone-uploader/blob/e3aec0ec94a5ba79155fe229d81d156e164613e2/package.json#L7) points to dist/Dropzone.tsx instead of the .d.ts file.

[2019-08-13 09:12] #24 closed

[2019-08-14 15:27] BrickBeard opened #26 "Encountering S3 CORS Error with Presigned URL"
The uploader has been working seamlessly for the past few weeks.  This morning, without any changes, we started encountering a CORS error with every attempted upload:

<img width="589" alt="Screen Shot 2019-08-14 at 10 16 42 AM" src="https://user-images.githubusercontent.com/26386708/63033779-ccf04a80-be7d-11e9-95f5-db728ffb07d1.png">

Our S3 bucket CORS configuration is as follows:

![image](http

[2019-08-15 19:31] AntSan813 commented on #26
Running into the same problem. Did you find a fix?

[2019-08-15 20:04] BrickBeard commented on #26
@AntSan813 Yes!  Thanks for prompting my response.

So, somehow after updating my API endpoint (using Python's Boto3 package), the `s3.client()` was no longer getting my ***default_region*** from the environment variables I had set.  Basically, it was generating a **presigned_url** without accurate *region* information.

I went in and manually applied the region in my API:
[code]

...and it works

[2019-08-16 00:49] erik-sandoval opened #27 "Using body on getUploadParams does not give response."
[code]
Or I don't use body it will fail my request but show me console.log info.
I do not see a way to get a response when I successfully upload to my API. If I do an axios call I get a responsebut not using this.

[2019-08-20 11:42] crymis opened #28 "Wrong Typings for injectable components"

[2019-08-27 12:02] Almenit opened #30 "Error when compiling with typescript"
Versions:
"typescript": "3.5.2",
"react-dropzone-uploader": "2.10.1",

./node_modules/react-dropzone-uploader/dist/Dropzone.tsx:319:19
      TS2339: Property 'status' does not exist on type '{}'.

[2019-08-28 16:00] colemerrick commented on #27
Actually, I discovered you can access xhr through handleChangeStatus's ref.  Here's a little hacky solution:

`const handleChangeStatus = ({ meta, file, xhr }, status) => {
    if (status == 'done') {
      console.log(xhr.response)
    }
  }`

[2019-08-30 19:47] nbolton-holstein opened #33 "Access to the XMLHttpRequest.response"
Is there anyway to get the response from the XMLHttpRequest? I wasn't able to find it in the documents. I hackily got what I am looking for by adding

        if (xhr.readyState === 4){
          fileWithMeta.meta.status = 'done'
          fileWithMeta.meta.response = xhr.response
        }

to the uploadFile function, just hoping there is already a something available and I missed it.

Also I wou

[2019-09-01 11:13] nhtua commented on #33
Please merge it. It is what we need at a minimum to communicate with the server

[2019-09-01 20:16] skalma commented on #30
Same issue here. Strange thing is i can compile and run my project locally (vs2019), but i gt this error (among others) when building the project in a pipeline in devops.azure

[2019-09-09 07:14] peitalin opened #35 "Pass props to layout"
Hi,
Are there any plans to allow props to be passed to the Layout component?
E.g:
[code]

[2019-09-15 01:16] TheHyphen opened #36 "How to add a file and mark it as done?"
I'd like to use the component for viewing / editing my existing list of files. I was planning on using the `initialFiles` but the problem is that `initialFiles` are being uploaded again.

I want to just add the initial files and mark them as done. How can I go about it?

Thank you for the excellent component, btw.

[2019-09-16 01:35] #35 closed

[2019-09-17 03:13] TheHyphen opened #37 "Add estimated time remaining info to the meta along with progress."
Wonderful component! Thank you again.

Currently, to get the ETR, we'd need to have our own calculating function. I think it would be great and easy if there's a way to get that information in the `meta` as well.

[2019-09-17 03:15] TheHyphen commented on #36
Not ideal but I ended up setting `autoUpload: false` and marking the `file` object with a property like `file.done =  true` and then checking `if(meta.status === "ready" && file.done)`.

I think would be easier if the component supported setting status of a file from the outside.

[2019-09-17 14:49] gaim281 opened #38 "manipulate/resize image file before upload"
Hello,
I'm straggling for some time for finding a way to manipulate somehow image before upload.
actually i want to resize the image and upload a shrinked version of a pic.
any idea how can i access file, resize and continue upload?
please help guys
thanks very much

[2019-09-19 15:00] peitalin opened #39 "Option to disable forceUpdate"
Having forceUpdate throughout the Dropzone uploader makes it difficult to prevent re-renders in subcomponents.

For a custom dropzone layout,  adding items will cause the entire layout (and all upload previews) to re-render, and this can't be prevented easily with shouldComponentUpdate or React.memo.

Is there a way to disable this.forceUpdate?
e.g: this line :
[code]

[2019-09-20 20:17] christiantigre opened #40 "how I can reset my component Dropzone whit state?"
how I can reset my component Dropzone whit state?
My state is

this.state = {
  files : [],
}
My component is

<Dropzone
getUploadParams={this.getUploadParams}
onChangeStatus={this.handleChangeStatus}
onSubmit={this.handleSubmitUploadFile}
initialFiles={this.state.files || ''}
accept=".XLS,.XLSX"
inputContent={(files, extra) => (extra.reject ? 'Archivos' : 'Arrastrar archivo')}
canRestart={true}
c

[2019-09-22 21:08] smpetrey commented on #33
What is the status of your PR (#34) @nbolton-holstein? Would love to have this merged 🙏

[2019-09-23 13:20] nbolton-holstein commented on #33
Crickets so far - I've been using my fork as a stop gap 😬

[2019-09-30 05:14] mike1011 commented on #40
why cant you use a function to remove all files and rest of the things will be taken care.
you can try something like..
[code]

[2019-10-01 02:26] #39 closed

[2019-10-07 16:50] leon0707 commented on #33
is this project still active?

[2019-10-08 07:33] kerembeyazit opened #41 ""Add Files" Button Text"
Hi,

How to change Add Files button text?

Thanks, Kerem

[2019-10-08 07:45] kerembeyazit commented on #41
Oh, i figured. Thanks.

[2019-10-08 07:45] #41 closed

[2019-10-08 12:12] TudorFnsn opened #42 "Inject PreviewComponent into Dropzone"
Hi!
I am trying to inject the PreviewComponent into the Dropzone area with the already existing images once the user wants to edit the created object. I have visited your page and the link pointing to this feature redirects me to an non-existing git page. Is there a way I could accomplish this? Thanks!

[2019-10-10 07:14] ghost opened #43 "Change default design of RDU"
Default design of component uploader.

If no objections want to change or customize default theme of RDU component.

[2019-10-14 17:35] erikt9 commented on #42
I think what you want is covered by the initial file from data-url example:  https://react-dropzone-uploader.js.org/docs/examples#initial-file-from-data-url

The URL doesn't have to be a data: url, you can fetch() from wherever you would like.

[2019-10-17 14:00] filipallberg opened #44 "Does not support .avi-files"
I've noticed that the component does not work when uploading .avi-files. The following is outputted to the console,

[code]

I assume this happens as a result of an attempt to render a preview for the file.
Secondly, it is not possible to remove the offending uploaded file.

Is it possible to turn off the thumbnail preview functionality?

Here is a sample file which cannot be uploaded: [Megamind.a

[2019-10-18 23:13] kylebebak commented on #44
Hey there, thanks for filing this bug report. I hadn't seen an AVI file in a long time.

I just pushed a fix in `2.10.2` that ensures that the `generatePreview` returns a promise that never takes more than 1s to resolve or reject.

This way file types for which `onload` or `onloadedmetadata` are never called don't return promises from this function that hang forever.

1s is still more than enough

[2019-10-18 23:13] #44 closed

[2019-10-19 13:46] filipallberg commented on #44
Perfect, it works!

[2019-10-23 22:34] mike1011 commented on #43
you can change the look and feel by adding custom styles.

[2019-10-29 00:32] zhex900 opened #50 "Custom preview"
Hi,

How do I preview files like a 3D model or pdf. I want to use custom components?

https://codesandbox.io/s/strange-voice-o6xc3

Jake

[2019-10-29 00:43] #50 closed

[2019-11-01 02:55] yudataguy opened #51 "Upload file onsubmit"
I've set autoUpload={false} to prevent auto upload when files dropped. But couldn't find a way to have file upload started onSubmit. Since the submit button is disabled if the file is header doesn't have the status 'headers_received' or 'done'. Any suggestion on how to get it working correctly?

[2019-11-07 14:31] JasonB42 opened #52 "Add withCredentials property for CORS requests"
My use case requires that withCredentials be set on the file upload request.

I have submitted a fix at [Add withCredentials property to support CORS requests](https://github.com/fortana-co/react-dropzone-uploader/pull/49) and have tested this patch with the included tests and in production.

This was based on a previous push request that edited the generated .js files instead of the .tsx files.

[2019-11-13 14:45] manrajesh commented on #51
Did you find a way to do this?

[2019-11-13 16:34] manrajesh commented on #51
This how i figured it out
1)set `autoUpload={false}`
2)enable Submit button by
`if(status === 'ready'){
        meta.status = 'headers_received'
      }`

in `handleChangeStatus`

3)call restart on submit click

`handleSubmit = (files, allFiles) => {
      allFiles.forEach(f => f.restart())
    }`

[2019-11-13 20:01] yudataguy commented on #51
We tried a different approach.
1) set ```autoUpload={false}```
2) have a ```handleSubmit``` button onClick function with customized ```SubmitButtonComponent={SubmitButton}```
3) build a ```uploadImage()``` for handling image upload
4)  in handleSubmit
[code]
Maybe I'll try your method to see if this can work.

[2019-11-13 20:01] #51 closed

[2019-11-21 16:53] drizco commented on #40
I'm seeing some really strange behavior when trying @mike1011 's suggestion above. Looping through the files array using `forEach` or a regular `for` loop and calling `.remove()` on each file only removes half of the files for some reason?

[code]
If I don't call `file.remove()` it logs 0, 1, 2, 3 as expected.

The only way I was able to clear the files array was using a `while` loop:
[code]
curio

[2019-11-21 17:10] drizco commented on #40
okay, so `file.remove()` splices it out of the `files` array, mutating it in place... so that explains why index based iteration won't work whereas the `while` will. A helper function for emptying the `files` array might be handy. I'll try to make a pr at some point...

[2019-11-30 02:59] aussio opened #55 ""ready" status is not possible when uploading files without `getUploadParams`"
If the below description of a bug is me just misusing the react-dropzone-uploader API, please let me know. 😄

I'm looking to upload files using the [firebase API](https://firebase.google.com/docs/storage/web/upload-files) which does not appear to readily provide a URL to POST/PUT objects into. From following the examples and reading your documentation, this led me to believe that I should look for

[2019-12-01 03:26] lifan0127 opened #56 "How to handle duplicate uploads of a same file in preview"
Currently, if a user attempts to upload a same file multiple times, each upload is listed as a separate entry in preview. Is it possible to customize the preview so that only the last upload is displayed?

![image](https://user-images.githubusercontent.com/7218193/69908846-4b3a1380-13bf-11ea-8851-7474a6bb67be.png)

[2019-12-04 06:36] danielbyun opened #57 "Difference between uploading vs done status"
What is the difference between the two statuses? I am uploading video files to S3 and it uploads super fast but will take long from 100% of uploading to receiving `headers_received` status.

I just need some clarification for UX purposes!

Thank you for this wonderful component.

[2019-12-05 08:01] danielbyun commented on #57
I am uploading a video file to the server, and the progress bar goes pretty quickly but it's not the correct progress bar because it hasn't been sent to the server yet.

[2019-12-09 11:53] dizzpite commented on #43
Yes, i did and wanna make user friendly component by default.
If you agree i can contribute and help with this.
If you can't agree, please skip my msg and close ticket :)

Don't like change anything without agreement

[2019-12-10 11:00] metawort opened #58 "Failed to compile: Missing semicolon"
I'm unable to compile my (TypeScript) React web app when I import this package:

When I open the file in my IDE I even get a total of 415 syntax errors.

Could you please either fix the syntax or simply distribute the already compiled JS files?

Also, as a work-around is there a way for making tsc ignore the syntax of external dependencies in general?

[2019-12-12 09:31] colin-byrne-1 opened #60 "Another project owner?"
@kylebebak Would you mind assigning another owner? This project seems to be taking off (based on the weekly downloads) and I think it could really use the upkeep. I think we could classify lots of the PR's as 'low hanging fruit', and I believe someone without a ton of knowledge of the project could knock a bunch of them out. That said, I would be available to fill that role.  Thank you!

[2019-12-13 01:23] colin-byrne-1 commented on #33
@leon0707
**"react-dropzone": "nbolton-holstein/react-dropzone-uploader#master",**

[2019-12-13 01:26] colin-byrne-1 commented on #57
@danielbyun I agree this is an issue... I am not a project owner here, but I'd love to fix this if I find the time.

[2019-12-15 19:20] iiitmahesh commented on #57
@danielbyun have you find any solution for that???

[2019-12-16 06:55] danielbyun commented on #57
@iiitmahesh
I just found a workaround for it - I upload it, then if it at any point fails or the user cancels (by checking the status) I call the server again and delete the file that was uploaded to the cloud.

I hope that helps, and I hope that the documentation for this component can be improved!
This is a great component and I found it very useful.

@cobyrne09 that would be awesome!

[2019-12-17 18:29] Shelagh-Lewins opened #61 "How to change http request method to 'put'"
Is there a way to change the request method from POST to PUT? I think this may be required for AWS S3.

The [docs](https://react-dropzone-uploader.js.org/docs/s3#s3-using-put-instead-of-post) imply it's possible but I can't figure out how!

[2019-12-18 09:29] Shelagh-Lewins opened #62 "How can I upload to AWS S3 using a pre-signed URL?"
I'm trying to use the react dropzone uploader to upload files to S3 in my node / React web app, but can't get the signed url to work.

The component requires a POST url, and the aws-sdk doesn't seem to support POST, only PUT. I assume this is why I'm getting a 403 forbidden response from S3.

This code on the server my generates a PUT url:

[code]
But the uploader sends it as POST.

I've tried thi

[2019-12-19 10:45] nums commented on #33
+1

[2019-12-19 11:32] MariuzM opened #63 "When uploading the component to show the list and remove items not appearing"
I'm trying to pass each the ID, Name to `<div>`.

So i've done that but when i add:

[code]

The component that shows all items with option to remove them is not appearing. If i remove the above it starts appearing. So I'm unsure why it's not appearing when i have this `setFileState`

Full code here:

[code]

[2019-12-25 00:03] airstance commented on #62
For what it's worth, this is what I do...

    const getUploadParams = async ({ file, meta: { name } }) => {
        const credentials = await Auth.currentCredentials();

        const s3 = new AWS.S3({
            apiVersion: '2013-04-01',
            credentials: Auth.essentialCredentials(credentials),
        });

        var params = {
            Bucket: BUCKETNAME,
            Fields: {

[2019-12-25 00:04] airstance commented on #61
I looked at the source and I don't believe there's a way to force it to use PUT.  I did find a way to make POST work and I responded to your other issue with that answer.

[2019-12-31 12:08] santicalvo commented on #33
Please Merge this!

I will be using @nbolton-holstein instead

[2020-01-01 18:02] santicalvo opened #66 "How to change the close and cancel buttons?"
Hello, I can't find in the documentation how to change the default remove and cancel buttons.
They are hardcoded in the style, they can't even be overriden by css.
We can find how to change "everything" but not these buttons.

Is it in the documentation and I didn't find it?

Thanks

[2020-01-01 23:15] RayBrack opened #67 "Display Server Error"
My API server can return various error messages to the user as a JSON response, for example;

[code]
Is there any way to get the content of the message from `meta`?

[2020-01-02 07:59] Way-U-Need commented on #40
any update on this?

[2020-01-09 13:08] ziaulrehman40 commented on #67
Trying to figure out same, and in which callback. Because i dont see any onSuccess tyoe if thing.

[2020-01-09 13:11] ziaulrehman40 commented on #33
How on earth such basic callback is missing to provide us what server responded with...

[2020-01-09 13:22] ziaulrehman40 commented on #33
`"react-dropzone-uploader": "nbolton-holstein/react-dropzone-uploader#master"`

Also its not working out of the box, i think we need to trigger a build to generate dist or something for the fork to work.

**UPDATE:**

Following seems to be giving at-least something, for error messages this will need updates but it wil give the idea:

[code]

[2020-01-09 22:45] ithinco commented on #61
@Shelagh-Lewins there is a method key. For `example:
[code]

[2020-01-10 06:00] ziaulrehman40 commented on #67
[code]

And of-course add `onChangeStatus` prop with above function in Dropzone.

[2020-01-10 06:07] ziaulrehman40 opened #70 "onChangeStatus called twice with error_upload when remove after server error"
I am using onChangeStatus callback with something like below:

[code]

It is supposed to remove the file if there is server error.

Whats happening is I am getting events in following order.

[code]

So the issue is that I am getting error_upload callback twice, once when server fails, and once when I remove the file after server failure. Is this intended behavior? If so it is still confusing and

[2020-01-10 07:01] ziaulrehman40 commented on #70
No solution was found, i had to let go of this functionality of auto removing files and just give a button to remove file in my custom preview component(which i had built for custom UI).

[2020-01-15 09:14] Almenit opened #71 "No responseText when xhr.status >= 400"
Since the error_upload meta.status is set on xhr.readyState === 3 no responseText is available.

If you wait until readyState === 4 to set the meta.status to 'error_upload'
you will get the responseText and you will able to specify the error issue

[2020-01-16 04:59] RayBrack commented on #67
Checked the "xhr" properties and `response`, `responseText` and `statusText` are all empty strings and there are no `xhr.response.json()` or `xhr.response.text()` functions.

I can see my error message coming back in the response use DevTools and Fiddler just can't seem to get to it through `fileWithMeta.xhr`.

[2020-01-23 09:40] samueledirito opened #73 "Feature needed: Skip initial files upload"
I'm currently on customizing react-dropzone-uploader to behave like an avatar uploader.

When the avatar is already on server, then the uploader should have `initialFiles={[file_avatar]}`, so that the preview is loaded automatically.
But, with this setup, it uploads the file when my component is loaded too.

It would be nice to have a `skipInitialFilesUpload`, so I can choose when initialFiles col

[2020-01-26 01:08] luc-plamondon commented on #19
I have the same need because I use a GraphQL server, which requires a rather complicated request to upload files. I don't really have to build the request myself, the Mutation component from the apollo-react library does it for me, so I would like to override RDU's upload function with the one generated by my Mutation component.

[2020-01-29 17:09] domidemps commented on #56
Hello @lifan0127,

I experienced the same problem and I found a way to do this.

3 elements were needed:
- The component's `state` to manage the list of uploads,
- The `Dropzone`'s `validate` prop, to check if the current uploading file is already in the list of uploads,
- A custom `LayoutComponent` to remove duplicates files from the preview, because it seems that `validate` cannot handle this pr

[2020-01-30 10:01] T-101 opened #74 "Pass additional data from DropZone to a (modified) Preview component"
What I am basically trying to do is pass a value from the response body after a successful upload to the Preview component. Specifically, a download url for the file that was uploaded.

I spent some time looking at the source code and examining the props. The Preview component receives an array prop called 'files' that contains the response body inside a xhr key somewhere. While it would be possib

[2020-02-06 18:35] crackedbeefcake opened #75 "inputWithFilesContent and multiple props dont take effect"
In the live example (and my code), i set multiple to false and inputWithFilesContent to null as described in the docs but the result is not coherent/

[code]

![Screenshot_2020-02-06 Quick Start · React Dropzone Uploader(2)](https://user-images.githubusercontent.com/11148454/73967261-d7b10700-4917-11ea-874e-0b9e9babc872.png)

[2020-02-07 14:36] zarandonlautaro opened #76 "Upload to S3 CORS error"
I have the next code
[code]

This endpoint /s3/sign to API in Express return
[code]

After uploading state show by
[code]
And this show a error message like
`Access to XMLHttpRequest at 'https://transferdog-staging.s3.sa-east-1.amazonaws.com/6dc042bb-c0bd-4914-a10c-56dc6fef41c4..jpg?AWSAccessKeyId=AKIA5I65HDAZLUDBY65M&Content-Type=image%2Fjpeg&Expires=1581085975&Signature=J7T%2Fe4nkPKlQmXKo84wwSt%

[2020-02-08 13:27] SkyStalker commented on #76
I had the same issue. You need to enable `CORS configuration` in S3 bucket.

S3->bucket->Permissions->CORS configuration with

[code]

[2020-02-08 20:44] zarandonlautaro commented on #76
Thanks I did that, and now have the next problem. Error 403 (Forbidden).
![image](https://user-images.githubusercontent.com/47615129/74091791-5b92fc80-4a9a-11ea-9647-dbefdd960202.png)

[2020-02-08 20:56] zarandonlautaro commented on #75
You can edit css
![image](https://user-images.githubusercontent.com/47615129/74091921-3e5f2d80-4a9c-11ea-90cf-4b95cbca5536.png)

[2020-02-09 07:53] SkyStalker commented on #76
It seems you use aws'es `getSignedUrl` function for getting upload params. You should use `createPresignedPost` instead and pass its fields and url to request to S3 (like it shown in S3 example in docs).

[2020-02-11 00:40] JasonB42 commented on #76
If this is a CORS issue, I had to modify the code to allow setting withCredentials to true. See pull request #49

[2020-02-11 08:26] crackedbeefcake commented on #75
what is the purpose of the props? is my understanding of them false or is the implementation broken?

[2020-02-11 12:53] zarandonlautaro commented on #76
I solved the issues, just put the same policies from the function "createPresignedPost".

[2020-02-11 12:53] #76 closed, assigned to nobody

[2020-02-11 12:55] zarandonlautaro commented on #75
Implementation is broken, i have the same problem

[2020-02-11 15:36] zarandonlautaro commented on #51
How do you make this ?

[2020-02-11 16:12] crackedbeefcake commented on #75
is this package deprecated?

[2020-02-11 16:57] zarandonlautaro commented on #75
I do not think so

[2020-02-12 12:53] zarandonlautaro commented on #3
Just do it for yourself!
[code]
        const MyInput = ({ accept, onFiles, files }) => {
            const text = files.length > 0 ? 'Add more files' : 'Drag or drop your files'

            return (
                <label style={{ backgroundColor: '', opacity: 0.5, color: '#000', cursor: 'pointer', padding: 50, borderRadius: 3 }}>
                    {text}
                    <input

[2020-02-18 19:38] zarandonlautaro commented on #56
Could you do it?

[2020-02-19 17:24] zarandonlautaro commented on #56
[code]
This worked for me

[2020-02-21 21:36] bryanlatten commented on #67
Yes, this really bugs me too!

I noticed that the readyState stays at 2 during the failed upload. As part of the MDN docs: https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/readyState
only the headers are made available as part of the XmlHttpRequest at that time. Now to find why readyState is `2`...

[2020-02-23 15:00] maryam-mokhtari commented on #39
Did you find any solution?
Actually I want the parent component to rerender after `onSubmit` is called.

[2020-02-25 10:35] hhoangg commented on #66
You should use the `PreviewComponent` prop
PreviewComponent default : https://github.com/fortana-co/react-dropzone-uploader/blob/master/src/Preview.tsx

[2020-02-25 10:37] hhoangg opened #78 "How to check all done?"

[2020-02-25 10:37] #78 closed, assigned to nobody

[2020-02-25 10:41] hhoangg opened #79 "How to check all done?"
Hi everybody!
I have a little problem with checking all uploaded processes. I want to know if all my files have been uploaded successfully, I want the results to be a boolean or a method to check this.
I went through the library's document but found no results, hoping everyone could help me.
thanks everyone!

[2020-02-26 04:18] svict4 commented on #73
How'd you go @samueledirito seems related to https://github.com/fortana-co/react-dropzone-uploader/issues/36

[2020-02-26 04:23] svict4 commented on #42
Important to note that files in `initialFiles` will automatically upload

[2020-02-26 20:01] whiteRa2bit opened #80 "Send audio to server"
Can you please explain how can I send an uploaded audio to sever? Thank you in advance!

[2020-03-12 18:24] iwarner opened #81 "Call the fileWithMeta.restart from outside the Dropzone"
I want to be able to upload files and have them in the Ready state - as part of a form

Once the form is ready - then a Submit button can action all the uploads at once

Possible?

[2020-03-17 20:49] albertoZurini commented on #74
Have you found any solution? I've read other issues and they suggest using unmaintained forks...

[2020-03-17 21:02] T-101 commented on #74
With a little hacking, yes. The Preview component receives this important prop: `this.props.fileWithMeta.meta.id`

Knowing that id, I then used a helper function to extract the response:
[code]
It ain't pretty but it gets the job done

[2020-03-18 19:43] zarandonlautaro commented on #81
Try it
**files.map(f => f.restart());**

[2020-04-01 16:38] nanandn opened #82 "Submit Button"
What's the purpose of submit button. In examples, the submit button is enabled after the upload is complete.

In my case, I want to keep adding files and upload the files when Submit button is clicked. But the default submit button is disabled. How can I programatically upload files when submit button is clicked.

[2020-04-08 15:43] alvies opened #85 "Catalina Issues with Uploading Images"
I use RDU for an uploader specific for images, and I've recently switched to a Mac running Catalina to discover that there appear to be some issues.

My use for RDU in this case uses the MIME type filter in its props as follows:
`accept="image/*"`
and under Catalina, it is ignoring any image dropped onto the dropzone. If I remove that prop, I can then drop an image into the dropzone.

I also use a

[2020-04-08 17:09] DuarteFelicio opened #86 "Dragzone not correctly changing when hovering with wrong file type"
So I copied the example where the dropzone changes color when the file isn't an image or video and I changed the accept field to ".csv" but now the color doesn't change. When I drop the file it doesn't accept it but I also wanted the color to change

[2020-04-11 16:30] ahmadkam2 commented on #42
When I use images url link array like:
['http://some-path.jpeg' , 'http://some-other-path.jpeg']
as initial files value, its not working,
also the error shown as below:

Can anyone help me to solve this problem?
Thank you.

[2020-04-21 02:28] JeffreyCA opened #87 "Styling issue - gap between border and clickable region"
Using macOS Catalina, Google Chrome, the dropzone is not being rendered correctly. There is a weird gap between the border and the white clickable region.

Removing the `overflow: scroll` in the `.css` seems to fix this issue.

<img width="801" alt="Screen Shot 2020-04-20 at 10 25 34 PM" src="https://user-images.githubusercontent.com/9157833/79818511-0276fd00-8356-11ea-9706-a21e0e22fb42.png">

[2020-04-23 18:00] trongnguyen29 opened #88 "How to upload folder and files simultaneously"
Is there a way to upload files and directories, instead of just uploading files?
Thanks.

[2020-04-26 19:05] zanedev commented on #39
Running into this also in various ways, it re-renders the preview over and over and can't stop it.  Any solution to stop the re-render?

![dnduploaderflashing](https://user-images.githubusercontent.com/817344/80317026-2e5f0c00-87b6-11ea-8f32-5c3e23813312.gif)

[2020-04-28 20:45] nanandn opened #89 "Feature request"
I have a couple of feature request. If there is already a way to do this, please let me. I could not see if by looking at the code.

1. Call handleChangeStatus with a new status like "media_analyzed" immediately after "generatePreview", but before calling validate. This would give an opportunity for callers to add additional metadata about the media, before validation.

2. props to override genera

[2020-05-08 12:05] dancixx opened #90 "Upload to Firebase?"
Hi guys!

I would like to use your library, but im in trouble.
Can you help me how should i modify my code to upload firebae?

[code]

[2020-05-11 15:30] augustobr1to commented on #82
I dont know, i realy want to know what's the purpose of submit button...

[2020-05-25 06:40] hochan222 commented on #80
The question is not clear.
[code]
this options will help you!

https://react-dropzone-uploader.js.org/docs/examples

[2020-05-25 06:45] hochan222 commented on #81
What he means is submitting a form outside of Dropzone. The method can be to save files using useReducer or useState and execute Dropzone onSubmit when the entire form is submitted.
Also you might be use
[code]
and
[code]
to make this event.

[2020-05-25 06:52] hochan222 commented on #55
**autoUpload** After giving the **false** option,
Here is the function that goes in onChangeStatus.
[code]
One of the results.
[code]

Check it out with the above function. I see the right life cycle.

[2020-06-01 13:05] jodhi commented on #87
the same thing happening when on chrome linux also
![image](https://user-images.githubusercontent.com/20210188/83411756-1167c980-a443-11ea-8493-4babfe974360.png)

and this trick fix the issue, but creating another problem

[2020-06-03 20:27] kenhui521 opened #94 "Documentation Links Broken"
The following links are broken (https://react-dropzone-uploader.js.org/docs/customization)

InputComponent
PreviewComponent
SubmitButtonComponent
LayoutComponent

[2020-06-10 16:38] dancixx commented on #55
Can you solve the firebase upload problem?

[2020-06-11 15:16] juliankigwana commented on #81
I have the same question, did you ever find a way to do this @iwarner ?

[2020-06-15 17:49] ekhatirkawtar commented on #56
My problem is, when the user chooses a file, its uploaded directly to my server.But if the user remove a file from the drop zone how can i delete it from my server?

[2020-06-18 08:27] pew-rivza opened #97 "Request to https://httpbin.org/post has broken (status 413)"
When I choose images, you upload files to `https://httpbin.org/post`.
But whichever image I choose (even those that were successfully uploaded earlier),  this request fails with status 413 (Request Entity Too Large Error).
This error occurs both in my solution and in the examples from your site.

[2020-06-18 20:45] mariovde commented on #52
Hi, what's the status on this one, because this is actually delaying our development.
We really need this functionality asap, to get our uploads to work...

[2020-06-22 00:07] AaronWWK opened #98 "How to remove the submit button from the drop zone?"
![image](https://user-images.githubusercontent.com/30739095/85238233-80e92d00-b3e1-11ea-9e8b-60937c7eed1f.png)
I would like to use your library.
But I need to submit button to be outside of the drop zone, I your doc, SubmitButtonComponent page do not exist, can your help?

Thanks

[2020-06-23 10:32] #97 closed, assigned to nobody

[2020-06-26 07:35] zhangyuting1 opened #99 "how to make the progress bar display under(new line) the preview Image?"
let us see the layout, the "dzu-previewImage" and "dzu-previewStatusContainer" will display in one line if the parent container "dzu-previewContainer" has style display:flex.
But there is no customized way to change he "dzu-previewContainer" style, only its parent "dzu-dropzone" which is no use in this situation.
Does anyone practice how to make the progress bar display under the image preview?

!

[2020-06-26 08:34] zhangyuting1 commented on #99
set the {preview:{display:"block"} can make this.

[2020-06-26 08:34] #99 closed, assigned to nobody

[2020-06-30 07:33] gwonghk commented on #60
bump @kylebebak

[2020-07-02 22:14] ghost opened #100 "How to access the Dropzone state from a functional component"
I want do use the useEffect hook to clean the dropzone if something especific happens,  is there anyway I can access the Dropzone state?

[2020-07-08 18:47] sagarsaija commented on #98
Add a `SubmitButtonComponent={null}` prop in the `Dropzone` component and store the file in your state logic with the `handleChangeStatus` function. Then make a button outside the dropzone and in the onClick function, call the file from the state.

[2020-07-09 10:05] vhs2708 opened #101 "SVG files stuck in "preparing" for over a minute"
First of all, thank you for creating and supporting the project!

I'm uploading some files to S3. My images, pdfs etc start uploading within a few seconds, but the SVG files take forever. The files in question are around 50MB. Other file types of the same size work fine. The SVG's do eventually move on from "preparing" and upload correctly, but the dropzone hangs in the meantime, usually an entire

[2020-07-09 10:15] Tzvetelin88 opened #102 "Is it possible to load existing (already uploaded) files to Dropzone?"
If I have files uploaded to S3 (or other) can I load them to Dropzone and then do edit like, delete, upload new ones etc.

Thanks!

[2020-07-17 02:14] superjose commented on #101
@vhs2708 I think that's happening because of this: https://datalanguage.com/news/s3-managed-uploads. It seems that when files are huge, the signed URL times out and we need a different mechanism.

I'm not the owner of this project, but I'm currently looking at how to implement the link that I showed you in react-dropzone-uploader.

I'll post back with the results.

[2020-07-17 15:57] superjose commented on #101
Ok. I forked this project and fiddled with it, and I have to say, it's pretty well structured so it's easy to follow along. I have added the S3 ManagedUpload mechanism (To allow for multipart uploads) and I finally managed to upload files to the S3 bucket without hassle. I haven't tried huge files yet. But so far, it's working.

I want to have a full working solution before I do anything else. I w

[2020-07-20 17:44] milankyada commented on #102
Hey @Tzvetelin88 did you get the solution for this?
I tried with `initialFiles` and it's not working for me

[2020-07-21 20:02] milankyada commented on #102
@Tzvetelin88 nevermind, I have figured it out.

[2020-07-22 05:15] kevinsproles commented on #33
1. You don't need the fork.
2. I agree the docs aren't that great surrounding this, but it is documented here: https://react-dropzone-uploader.js.org/docs/api#filewithmeta-objects

**Here's how to access the xhr.response:**

[code]

[2020-07-28 09:53] Tzvetelin88 commented on #102
Can you please share how did you solve this?
Thanks!

[2020-07-30 00:14] milankyada commented on #102
Hi @Tzvetelin88 ,
you'll need to make the object of file array and assign it to `initialFiles`
Here is an example you can follow,
I have images uploaded under `uploads/id/image.jpeg`

[code]

[2020-07-30 07:13] Tzvetelin88 commented on #102
initialFiles  - is uploading files automatically yes? In this case we are loading files and also uploading them again to the server? If yes, is it possible not to upload them again?

[2020-07-30 15:31] jpomykala opened #105 "How to add credentials to the request?"
Hey, I'm trying to send request with credentials.

So far I tried to use getUploadParams and put there 'withCredentials' key like this:

[code]

I saw that Dropzone.js supports 'withCredentials' feature and this could be set on 'options' object.
https://www.dropzonejs.com/#usage

[2020-07-31 21:50] dchaebae opened #107 "Cover entire width and height"
This used to not be there, but it is there now. The upload does not cover the entire div, it looks like. There is a gray border to the right and bottom. Where did this come from?

[2020-08-05 21:12] seyaobey opened #108 "multiple typescript errors with version 2.11.0"
I am new to react-dropzone-uploader. I `yarn add react-dropzone-uploader` in my application and followed [quickstart guide](https://react-dropzone-uploader.js.org/docs/quick-start). I'm getting a number of typescript errors:

[code]

Here are relevant parts of package.json:

[code]

This is my tsconfig.json file:
[code]

Thank you for this library and for your diligent support.

[2020-08-06 17:55] frankchau93 commented on #82
Is it possible to make it so that once all files are queue'd, pressing the submit button uploads all of them at once?

[2020-08-06 18:03] frankchau93 commented on #81
@hochan222  can you provide a full example?

[2020-08-07 02:21] superjose commented on #100
I think you can use the onChangeState props to do that. You could potentially try wrapping a function inside the onChangeState function that you'd like to pass, and then perform the cleaning from there.

[2020-08-07 08:19] jcorpuz1999 opened #109 "is Dropzone.removeAllFiles() will work?"
Hello im beginner using dropzone, I'll try to use the Dropzone.removeAllFiles() but it returns an error saying.

Uncaught TypeError: react_dropzone_uploader__WEBPACK_IMPORTED_MODULE_9___default.a.removeAllFiles is not a function

Is there a function that will remove all the image or reset?

Thanks in advance, more power to the team

[2020-08-07 14:02] milankyada commented on #102
You're just loading file with initialFiles, but it's upto you how you handle the form submit, there's a function to detect what is changed in dropzone(like file added/removed) you can use that to detect the change.
Here is the example given. [onChangeStatus](https://react-dropzone-uploader.js.org/docs/examples)

you'll have to follow this example

[2020-08-08 05:30] zhangyuting1 opened #111 "any way to customise the dzu-previewStatusContainer style?"
hi dears.
do you know any way to customise the dzu-previewStatusContainer style, so we can define the progress bar css.
like just sample to control the progress bar width or the div width.
Appreciated your help.

Thanks

[2020-08-11 08:51] #109 closed, assigned to nobody

[2020-08-12 08:27] goshatravin opened #112 "Is it possible to call handleSubmit function when status done ?"
Currently when u click on button it will close drop zone, and remove files, i want to do it in auto, if file uploaded, close it.

[2020-08-13 12:36] xerwud opened #113 "Disable drag and drop"
I would like to disable the drag and drop event. is there any way i can do that? Pls help. thanks!

[2020-08-13 12:47] #113 closed, assigned to nobody

[2020-08-14 01:37] webdog-rich commented on #105
You can append headers as below:
`
getUploadParams = () => {
    return {url: process.env.REACT_APP_API_URL + '/api/files', headers: {withCredentials: true}}
};
`

[2020-08-14 16:49] caiodeambrosio commented on #108
Same here

[2020-08-21 20:58] salientknight commented on #82
submitButtonContent={null}
SubmitButtonComponent={null}
When passed to DropZone make the submit button go away. I believe this button is for when your entire form is just the file upload.

It also triggesr the handleSubmit function that cleans up the items in the drop zone...

[2020-08-27 08:33] ck98-01 opened #114 "error with typescript"
I don't know why it's giving me this error...
can someone help?

TypeScript error in C:/Users/User/Desktop/dev/node_modules/react-dropzone-uploader/dist/Dropzone.tsx(635,7):
Type 'Element[]' is not assignable to type 'null'.  TS2322
[code]

and :

TypeScript error in C:/Users/User/Desktop/dev/zidyia-frontend/node_modules/react-dropzone-uploader/dist/utils.ts(104,7):
Type 'FileList' is not assignab

[2020-08-27 19:14] salientknight opened #115 "Files not uploading"
I am using a PHP script that is working for CKE file uploading and have a second which is just a very simple upload.php found on line (which works) but I am not getting any file upload from this component and there are no errors in the console. I get all of the responses I expect: Preparing, Getting Upload Params, Uploading, headers_recieved, done, each with Files all data looks correct. Then I ge

[2020-08-28 02:47] zhangyuting1 commented on #111
@kylebebak @ermancera  Do you know if there are anyway to customize the dzu-previewStatusContainer style? Many thanks!

[2020-08-28 14:18] salientknight commented on #115
Looks like an issue with our php file not being coded for multi-file.  Helpful code here https://www.php.net/manual/en/features.file-upload.multiple.php

[2020-08-28 14:18] #115 closed, assigned to nobody

[2020-08-30 22:01] nanandn opened #117 "Updating file metadata"
Is it possible to update the file metadata after it has been added/processed. I have a custom Preview component that needs to have some context menu action and update the file's metadata.

Thanks
Anand

[2020-09-03 21:08] #80 closed, assigned to nobody

[2020-09-04 10:31] mijnnaamisramon commented on #40
How would you call
`removeAll = ({ allFiles }) => {
	  allFiles.forEach(f => f.remove())
  }
  `
?

Because allFiles isn't passed to handleChangeStatus.
And I can't grab allFiles from nowhere... when I call the removeAll method, I would need to give it the allFiles parameter. Would love to now how to reset/remove the uploader with a custom method without handleSubmit.

[2020-09-10 11:24] MiracelVip commented on #51
Was somebody able to solve the mentioned problem?

[2020-09-10 11:26] MiracelVip commented on #81
Could somebody solve the mentioned problem?

[2020-09-11 11:45] zulqarnain-26 commented on #67
How can i get response back in my uploader component? i don't want to changes any file in node-modules

[2020-09-11 11:46] zulqarnain-26 opened #123 "How can i get response back in my uploader component? i don't want to changes any file in node-modules"
Hi! my server returns an id in response but i don't know how to receive that id on front end without disturbing the react-dropzone-uploader files in node-modules? Any leads?

[2020-09-11 14:40] Balavamsi1999 commented on #123
@zulqarnain-26 @kylebebak  Facing the same problem , please help..

[2020-09-12 05:58] Balavamsi1999 commented on #123
change the handle Change Status function :::
we can get the response by xhr.response

` const handleChangeStatus = ({ meta, file,xhr }, status) => {     // called every time a files status changes
      console.log("handleStatus",status, meta, file)
      if(status == "done") {
        var json = JSON.parse(xhr.response)
        var arr = state.documents_blob_ids.slice()
        console.log("id ad

[2020-09-14 10:11] tarambuka opened #124 "Cannot upload the same file if upload fails"
Hello,
I'm trying to upload the same file again (for example if upload fails) but a upload is not triggered until I chose another file. I use similar code as example [here](https://react-dropzone-uploader.js.org/docs/examples#!/Custom%20Input,%20Directory%20Drag%20and%20Drop/1)

[2020-09-15 22:29] rberger commented on #19
We have a similar situation using aws amplify/storage AND aws Appsync in the upload process.

Have been able to work around it a bit, by not setting `getUploadParams` doing all the work in the `onSubmit` callback but I don't see anyway to hook in and set the progress bar in the RDU component from the onSubmit callback.

[2020-09-15 23:12] elijahdorman opened #125 "How to use multipart/form-data"
Is there a built-in option or do I need to roll my own?

[2020-09-17 07:47] zulqarnain-26 commented on #123
Thanks

On Sat, Sep 12, 2020 at 10:58 AM Balavamsi1999 <notifications@github.com>
wrote:

[2020-09-18 10:56] fridaystreet opened #126 "files array passed to onStatusChange is updated after handler is fired for 'removed'"
Thanks for the great library. Just been trying to put an overlay type dropzone together that appears over the top of a form on drag. In order to do this I needed to control the display of the dropzone component with some state change. All good there so far.

I'm listening to the drag enter, drag leave events on the form so as to swicth dropzone on and off. That all works fine if I haven't dropped

[2020-09-18 11:08] zsolt-dev commented on #102
There are multiple issues(#102, #73, #36) asking about the same functionality: how to edit the form without downloading and uploading everything on each submit, or even worse, each view.

I think the solution could be passing an array of objects to initialFiles that would tell RDU the list of files with some metadata, that these files are already uploaded and not to download or upload them again.

[2020-09-21 14:17] artymldev commented on #82
I also thought that the submit button was to trigger upload when the user had chosen files. It's very confusinbg.

I too would like files queued until the user clicks submit.

[2020-09-21 16:06] nanandn commented on #82
@artymldev I used a custom "SubmitButton" component with Label Upload. set "autoUpload" props to false and in onSubmit handler, call "file.restart()" on every file that are is in "ready" state.

[2020-09-22 01:49] zhangyuting1 commented on #111
We can still set the css with css selector, for example, to change the progress bar style:

div.dzu-previewStatusContainer progress {
  width: 100px
}

[2020-09-22 01:49] #111 closed, assigned to nobody

[2020-09-27 16:17] ahmetuysal commented on #76
Hi, I am experiencing the same issue, and I am thinking it might be related to S3 bucket policy since it works if I allow public write access to the bucket. Could you please share your bucket policy if it's possible?

[2020-09-29 17:53] artymldev commented on #82
I ended up doing pretty much that. Thanks!

[2020-10-01 07:03] arslan-pro commented on #40
@mijnnaamisramon have you got the solution. I am having the same problem.

[2020-10-05 19:18] Tzvetelin88 commented on #102
Yes, I have done it in the same way few weeks ago.
RDU to upload and I've created a custom File component to preview / download/ remove them.

[2020-10-05 19:18] #102 closed, assigned to nobody

[2020-10-08 18:15] hcientist commented on #101
Hey @superjose can you possibly make that fork public 😅

[2020-10-13 19:29] alvies commented on #85
These issues appear to have been fixed somewhere along the line. I'm not exactly sure how or why, but I went to my implementation to test some unrelated fixes and the issue appears to have been resolved.

[2020-10-13 19:29] #85 closed, assigned to nobody

[2020-10-22 14:04] fastfedora commented on #67
For others who run into this problem, I worked around the issue using the `useState` hook, which triggers a re-render whenever the state is updated:

[code]

FYI, this is using a custom uploader that uploads all the files in a single request after the submit button is pressed. So not using the default uploading feature of `react-dropzone-uploader`, which uploads each file individually as it is add

[2020-10-22 14:33] Porter97 opened #128 "S3 uploader rejecting iOS images and failing silently"
iOS images are returning a URL, but not being uploaded.

I believe this might have to do with the content-type of the upload itself when iOS resizes the issue. A URL is being generated and returned, however the file never uploads to S3.

[2020-10-24 21:56] ghost commented on #90
hello. any news here?

[2020-10-24 21:57] dancixx commented on #90
Nothing, but i can help u with react-dropzone if u need!? :)

[2020-10-24 22:05] ghost commented on #90
I want to create a dropzone that uploads the selected files automatically to the firebase storage /currentUser/orderID/filesToProcess/ :D
What do you think we need here?
How about creating a REST endpoint for the Firebase Storage?
https://academind.com/learn/firebase/cloud-functions/creating-a-rest-endpoint-with-cloud-functions/

[2020-10-24 22:06] dancixx commented on #90
Do you use redux maybe?

[2020-10-24 22:07] ghost commented on #90
How would Redux help to adapt RDU to upload to Firebase?

[2020-10-24 22:09] ghost commented on #90
Did you try changing the
const url = 'https://httpbin.org/post'
part to your firebase storage bucket?

[2020-10-24 22:09] dancixx commented on #90
you can use react-redux-firebase library with react-dropzone, if u use redux. i can give my source code, but you can modifiy without redux.

[2020-10-24 22:10] ghost commented on #90
Ah! Now I get it. No I don't use Redux. I avoid Redux like coronavirus :D

[2020-10-24 22:11] dancixx commented on #90
u should overwrite the onFilesDrop method, i think with this code snippet and firebase docs u can solve your problem.

[code]

[2020-10-24 22:18] ghost commented on #90
Erm... But this is... not RDU! This is RD

[2020-10-24 22:19] ghost commented on #90
You can try this other library if you're into using Redux by the way
https://react-redux-firebase.com/docs/recipes/upload.html

[2020-10-24 22:19] dancixx commented on #90
Yeah but its works fine. I spent days with RDU but no success.

[2020-10-24 22:20] dancixx commented on #90
I use firebase, firestore, redux together in web and react-native and its perfect together and use react-redux firebase library as well.

[2020-10-24 22:30] ghost commented on #90
May I take some time to disgest the second code please? That looks like a Gordon Ramsay recipe, simple yet delicious. Let me check the react-dropzone lib first and come back to see how I can modify this code.

[2020-10-27 21:37] ghost commented on #90
I wish I could make your code work but I couldn't :-(
Do you have a codesandbox instance where it's working?
I checked the react-redux-firebase library too, but their recipe wasn't working either.
Why does such a simple thing as dropzone uploading have to be this frustrating?

[2020-10-28 04:05] dancixx commented on #90
Hi, i simplified the code for you, u can use without redux. I hope this help you.

firebase.js
[code]

dropzone.js
[code]

[2020-10-28 16:13] ghost commented on #90
Yes it works now! Yeaaaay! Thank you very much :D

[2020-10-28 17:17] dancixx commented on #90
You are welcome.

[2020-10-28 23:01] ghost commented on #90
I tried the solution I offered to you and created a rest endpoint with Firebase functions and used the URL in this library. It works too :D

[2020-10-28 23:11] dancixx commented on #90
Nice. :)
Cause of i use redux, my solution better for me. But glad for your success. :)
Maybe u should post your code here, we somebody need too. :)

[2020-10-29 10:34] ghost commented on #90
### 1) Firebase Part

**Firebase installation**

First install firebase cli
`npm install -g -firebase-tools`

Then login to your firebase from your console.
`firebase login`
... and set up with Functions > Your Project Name > Javascript > Install Dependencies step by step.

**Creating a Firebase Rest Endpoint**

Go to your functions folder in your code editor and install the necessary libraries to

[2020-10-29 20:23] ghost commented on #125
Can you give more details?

[2020-11-05 17:21] eig-klawson opened #129 "Reverse order of rendered images"
Hi!  Is it possible to reverse the order of rendered images?  It would feel more intuitive if images were added to the top (it's strange for a user to scroll up to see images, when they're used to scrolling down).

I'm using Custom Components for the most part, I just haven't found a way to reverse the order of images.

[2020-11-11 11:05] Bahlaouane-Hamza commented on #40
I needed to keep track of the `remove` function from `onChangeStatus`

[code]

[2020-11-14 12:34] leolabs opened #130 "Using react-dropzone-uploader with Google Cloud Storage"
I've tried using react-dropzone-uploader with GCS and couldn't get rid of CORS problems. After some trial-and-error, I found the problem. The requests are sent with an `X-Requested-With` header by default, which needs to be specifically allowed in GCS. To do that, create a JSON file with the following content:

[code]

Then apply those rules to your bucket:

[code]

It might be nice to include thi

[2020-11-16 17:14] andres3dc commented on #124
Any solution to this??

[2020-11-17 07:11] HyonheeYoo commented on #105
You cannot set `withCredentials` to be `true` in request headers.
`withCredentials` option is a `Boolean` property of `XMLHttpRequest`. Check [this](https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/withCredentials).

According to the source, everything in `headers: {}` is copied and added to the request headers. If you want to send a cookie or certificate, there should be `xhr.withC

[2020-11-27 08:01] jordie23 opened #133 "Is this repo abandoned?"
Looks like there's been no commits or releases for at least a year?

[2020-11-30 00:18] jordie23 commented on #133
@kylebebak Are there plans to continue work on this package?

[2020-12-28 05:38] punithbm commented on #37
@TheHyphen  did you find any workaround with your own calculation for achieving this?

[2021-01-11 18:16] ghost opened #136 "Formik"
Has anyone successfully used this with Formik and if so any code samples would be appreciated.

[2021-01-14 19:26] ilyakam commented on #133
It appears like this repo is abandoned. Here are the instructions how to maintain a copy of this package for your own project. It ended up taking just a bit of extra effort.

---

### Prerequisites

1. Install and set up [`patch-package`](https://www.npmjs.com/package/patch-package) in your project
1. Fork this repo; we'll use `example` as its new destination

### Set Up

In a new terminal window:

[2021-01-19 11:59] yairtal opened #137 "onChangeStatus callback doesn't get `meta` for large files (around 300mb)"
@0x3k

When uploading large files onChangeStatus callback doesn't get `meta` for large files (around 300mb)

`status` changes to 'done', but the `meta` object is missing.

[2021-01-19 16:35] yairtal commented on #137
@0x3k

[2021-01-19 22:12] phartf commented on #62
I have exactly the same issue. Can't see a way to force the component to make a put request, even thought the docs say you can.

[2021-01-25 14:09] avasuro opened #138 "Safari: TypeError - null is not an object"
Issue:

When I drag some file over drop area in safari - each time when 'dragover' event is fired library throws an error "TypeError: null is not an object", it firest 100500 times in a second and causes browser to hang. This bug reproduces only in Safari (tested on v.14.0.1)

[2021-02-14 21:38] errolgr commented on #79
Hi @hhoangg -- Not sure if you still are trying to figure this out or if anyone else has bumped into this issue. I use the `onChangeStatus` api to determine when all files have been uploaded successfully.

i.e. I check all files to ensure their status is set to `done`

[code]

My Dropzone:

[code]

[2021-02-20 11:51] kingofday opened #140 "prevent init files to be upload"
how can prevent dropzone to upload init files again. consider open an edit modal with some uploaded files before and i whant to show them?!

[2021-02-22 11:19] sansculotte commented on #107
likely preallocated scrollbars caused by { overflow: scroll } in .dzu-dropzone
pass {dropzone: {overflow: 'auto'}} to the styles prop of the Dropzone component to make them disappear.

[2021-04-05 06:12] cxsphereraja opened #144 "How can I implement in react native ?"
Hello,

Anyone, please suggest whether I can use this feature in expo react native? any reference, please.

Raja K

[2021-04-13 14:41] claytron5000 opened #145 "How to Pre-populate Previews"
I've already uploaded some files to an entity. I reload that entity, and I'd like to fetch and then display them as previews. I assume I'm adding them to the `fileWithMeta`.

`onChangeStatus` seems to be concerned with just a single file instance, so it doesn't seem like the right place to do this.

Any suggestions?

[2021-04-19 14:37] Mareva-dev opened #146 "Cloudinary example"
Hello,

Is someone able to deliver an example to upload multiple files to cloudinary with react-dropzone-uploader ??? It's something that can't be found anywhere.

[code]
Something like that for example. This one is not working but maybe someone can correct it?

[2021-04-28 17:43] #90 closed, assigned to nobody

[2021-05-06 19:03] annaswan0001 opened #147 "How add axios to getUploadParams ?"
How can I replace return url with axios request in getUploadParams ?

[2021-05-14 06:54] galoberlyn commented on #94
I also encountered this issue

[2021-05-30 20:31] gabtorr commented on #62
Same case here, do you resolve the issue somehow?

[2021-06-02 10:35] atewari25 commented on #82
@nanandn Can you share your code, I really want to enable this in my code, been stuck with this.
Thanks

[2021-06-02 10:44] atewari25 commented on #82
@artymldev Can you share your code, will be of great help, Thanks

[2021-06-02 20:05] sepsol commented on #19
@rberger Did you find any way to show the progress bar when calling `onSubmit` ?

[2021-06-02 21:42] nanandn commented on #82
@atewari25  Something like this....

Custom submit button

[code]

Uploader component

[code]

[2021-06-03 03:44] rberger commented on #19
@sepsol Its been a while. I think we created an independent widget that manages its own progress bar by monitoring some aspect of the upload. Unfortunately I don't have any simple snippets to share. Its all kind of engrained in our Clojurescript app...

[2021-06-04 04:05] JesusAMPY commented on #40
I need how to delete one file, with remove() delete all. :/

[2021-06-10 15:04] guilhermeccrz opened #157 "Can't test using testing library"
I want to test a upload response using react dropzone upload and testing-library, but i can't. When i try to use userEvent.upload, react dropzone breaks.
[code]
 Open Proposal - Upload Files › test document upload success for holerite

    TypeError: URL.createObjectURL is not a function

      at node_modules/react-dropzone-uploader/dist/react-dropzone-uploader.js:14:15637

[2021-06-18 07:18] audree1 opened #158 "File.Meta sometimes returns image height and width"
File.Meta always returns the image height and width if a single file is uploaded.

However, if multiple files are uploaded the image dimensions will only be included in some of the FileWithMeta elements

For example, I uploaded 15 files and the dimensions were present for only 6 of them.

I am depending on having those dimensions.  Is there anything I can do to consistently get them?

Thank you.

[2021-06-19 15:14] dipeshparashar commented on #62
@gabtorr @phartf  Found any solution ?

[2021-07-01 20:55] shmkane commented on #147
also interested in this

[2021-07-06 16:11] ericehamlin opened #161 "Typescript errors"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-dropzone-uploader@2.11.0` for the project I'm working on.

When using this library with typescript, there were a couple of errors during compilation resulting from assigning potentially undefined values to typed values.

Here is the diff that solved my probl

[2021-07-16 09:24] pawan-khade opened #162 "cors error"
when tried to upload images it return cors error for upload url

[2021-08-05 10:38] MisterFredy commented on #162
have you accept from back end side?

[2021-08-09 13:51] easynowbaby commented on #157
I'm having the same problem, any solutions?

[2021-08-11 03:38] morningcloud commented on #62
Did any one found a solution to do this?

[2021-08-12 04:12] morningcloud commented on #62
I was able to fix the 403 response error by explicitly setting the value of **method** as **'PUT'** in the return of getUploadParams:
[code]

[2021-08-12 15:36] chrismatheson commented on #157
@easynowbaby I believe this is a limitation of the jest testing environment (assuming that what your using) https://github.com/jsdom/jsdom/issues/1721 which does not implement these methods.

I did a small work around like so
[code]

however I also am noticing some other errors `TypeError: t.scroll is not a function` which have to do with (probably) jsdom vs real browser differences.

[2021-08-26 17:31] ghost opened #166 "Completely inaccessible?"
I love this uploader and have used it throughout my project but unfortunately I'm going to have to replace it because it's completely inaccessible.

Is there a work around for this & is it something that will be coming soon?

[2021-09-01 10:14] cMarius commented on #147
also interested in this

[2021-09-03 17:31] tadeo commented on #125
@elijahdorman I had the same question but, after inspecting the POST requests in the live examples I realized all of them were in fact being posted as multipart/form-data.
 My confusion originated because in the live examples section, responses from the server include a base64 encoded version of submited binary files under `files.file`.

![multipart-form](https://user-images.githubusercontent.com/

[2021-09-13 10:15] mali891 commented on #166
Hi @kimberleykelly did you find another solution for this?

[2021-09-15 13:26] bradical1379 opened #169 "Ability to know when all have have been uploaded?"
Is there a method with the built-in API that you can see when all of the files have been uploaded or are done when a user is uploading multiple files at once?

I'd like to present a message after a bulk upload has been completed and processed to let the user know all of the files are done, but I have been unable to figure out a way to do so. I can see that you get a done status on a per file basis

[2021-09-22 12:22] olivercoad opened #172 "Versions on npm that aren't on github"
@iofjuupasli can you please (or whoever owns the [package on npm](https://www.npmjs.com/package/@outofaxis/react-dropzone-uploader)) push the changes for v 3.1.0 to github?

It looks like you've released a new major version on npm but not published the code on github, or at least I can't find it on https://github.com/iofjuupasli/react-dropzone-uploader

Especially as a major version implies breaki

[2021-09-25 04:32] NaderBhrr commented on #147
Hello,
I've also tried to use axios to send the images to the server but could not handle it within "getUploadParams".

Looking forward to seeing the future response for this.

[2021-09-27 21:57] anujshah108 opened #173 "Get key props error with custom component"
[code]

I have this custom component that I insert into inputContent

[code]

I get the error:

 _index.js:1 Warning: Each child in a list should have a unique "key" prop. See https://reactjs.org/link/warning-keys for more information.
    at label
    at O (http://localhost:3000/static/js/vendors~main.chunk.js:246033:15)
    at div_

Any help?

[2021-09-29 22:41] erikt9 commented on #162
If you are using google cloud storage perhaps this will help?  https://github.com/fortana-co/react-dropzone-uploader/issues/130

[2021-10-13 18:09] ryantrappy commented on #147
I ended up using Axios to get a presigned url then accepting that xhr would be used to make the final call to my presigned url. Much like the S3 example.

[2021-10-16 03:14] audree1 commented on #173
I starting receiving that warning as well.

[2021-11-02 19:21] pihomeserver commented on #144
Any feedback ? I would like to also implement this kind of feature

[2021-11-08 16:36] NotMyUid opened #176 "Rename file before upload"
Hello,
I'm trying to rename a file before uploading it. Is it possible?

I tried renaming "file.name" both in "getUploadParams" and in "onChangeStatus" function, but I noticed that it is a readonly field.

Code:
![1](https://user-images.githubusercontent.com/50867282/140778105-342e833a-8b63-48db-b471-550c379bfa81.PNG)

I also tried, in "getUploadParams", to modify the returned value including a ne

[2021-11-17 19:10] prmichaelsen commented on #133
welp looks like im gonna be switching to a diff project

[2021-11-24 15:17] cordial commented on #102
@Tzvetelin88 any chance you can share this example? I have a similar issue

[2021-11-24 15:33] cordial commented on #102
Or @zsolt-dev

[2021-12-30 10:21] matiasgarcia opened #178 "Testing with cypress"
Any guide on how to test this with cypress?

[2022-01-13 15:25] GSuggitt opened #179 "Unable to compile with Typescript 4.5.4"
I recently upgraded the version of typescript in a react project to version 4.5.4.
When I did this I got an compile error reported in react-dropzone-uploader.
I am using version 2.11.0 of react-dropzone-uploader
In Typescript 4.4 the typing of the catch variable was changed to be "unknown" from "any". As a result the error was reported.
The error I get is:
`node_modules/react-dropzone-uploader/dis

[2022-01-20 02:37] humbertocruz opened #182 "How to get updated meta.percent that comes from fileWithMeta?"
How to update meta.percent that comes from fileWithMeta? I building a custom progress.

onChangeStatus is called on "uploading" and stops until "done", meas 0% and 100%

Thanks

[2022-01-25 08:02] beinghaziq commented on #179
Hi, @GSuggitt have you resolved this issue on your end?? I'm getting the same issue and I haven't reached any solution yet other than setting `useUnknownInCatchVariables ` as false in tsconfig file.

[2022-01-25 14:20] GSuggitt commented on #179
I have had to set "useUnknownInCatchVariables" to "false".

For some unknown reason, the authors are adding the tsx files to the distribution (which is not at all necessary). And, of course, Typescript chases down all the "imports", crashes into their offending TSX file and stops.

________________________________
From: Muhammad Haziq ***@***.***>
Sent: Tuesday, January 25, 2022 3:02 AM
To: fortan

[2022-02-05 16:43] kulaginds commented on #88
There is [example CustomInput](https://github.com/fortana-co/react-dropzone-uploader/blob/89aa88acf753962398fee967d0e4b5ac5d53065a/examples/CustomInput.md) which enable support folders from box.

[2022-02-14 10:04] nihalvaria commented on #157
I solved the `TypeError: t.scroll is not a function` issue, with the following :
[code]
I used HTMLDivElement because I spread my dropzoneProps over div element :
[code]

[2022-03-27 18:15] brikiernan opened #192 "Next JS build not compiling"
Hello,

I replaced react-dropzone with react-dropzone-uploader in a nextjs app and the code won't compile now.

From the error I'm getting I though maybe in my .tsconfig the skipLibCheck was not set to true but it is.

I'm not sure why typescript is checking your package?

Any ideas on this?

Thanks! Brian

[code]

[2022-03-27 18:25] brikiernan commented on #192
This issue https://github.com/fortana-co/react-dropzone-uploader/issues/179#issue-1101934418 had the solution for me.

I had to set the "useUnknownInCatchVariables": true in my .tsconfig

[2022-03-27 18:25] #192 closed, assigned to nobody

[2022-03-29 19:06] BHunter2889 commented on #179
Is there an update on this? Is this project still even active? This seems like such a simple fix that for such a widely used project it should've been fixed by now... no offense intended, but would like to see an update of any kind.

[2022-03-30 21:00] prmichaelsen commented on #108
The problem is `react-dropzone-uploader` is packaging its typescript files into the `dist` directory instead of `d.ts` files. Simply delete all `.ts` and `tsx` files from `node_modules/react-dropzone-uploader/dist/`

[2022-04-08 22:59] prmichaelsen commented on #179
Note that setting `useUnknownInCatchVariables` to `false` isn't the real fix. Like @GSuggitt said, the problem is `tsx` files are published to dist. I wouldn't modify your tsconfig to get around this, since you likely want those errors. For now, I just delete the `tsx` files manually.

https://github.com/fortana-co/react-dropzone-uploader/issues/108#issuecomment-1083621257

[2022-04-08 23:00] prmichaelsen commented on #161
see https://github.com/fortana-co/react-dropzone-uploader/issues/108#issuecomment-1083621257

[2022-04-08 23:01] prmichaelsen commented on #192
not a fan of the solution above because it may swallow other important errors in your project. see https://github.com/fortana-co/react-dropzone-uploader/issues/108#issuecomment-1083621257

i want to fix this myself but to be honest im not one hundred percent sure what's going on in their packaging scripts

[2022-04-08 23:01] prmichaelsen commented on #114
see https://github.com/fortana-co/react-dropzone-uploader/issues/108#issuecomment-1083621257

[2022-05-20 10:09] astroTANSAN commented on #67
@RayBrack did you end up figuring out how to get the response? I am looking to access the response headers.

[2022-05-21 03:57] RayBrack commented on #67
Hi,

No I never did.  I ended up writing code to determine what may have raised the exception. E.g.  if the file already exists on the server then raise a message to the user letting them know to either delete the existing file or rename the upload file and try again.

From: astroTANSAN ***@***.***>
Sent: Friday, 20 May 2022 8:09 pm
To: fortana-co/react-dropzone-uploader ***@***.***>
Cc: Raymond B

[2022-06-06 07:31] SMAsadAli opened #193 "React Native Support"
I was trying to make the basic component work on react native project

[code]

 and it is throwing me this error constantly.

<img width="419" alt="Screenshot 2022-06-06 at 12 31 24 PM" src="https://user-images.githubusercontent.com/74037501/172116014-ec26e5e5-0707-4f91-b7d6-0f6a989278f2.png">

[2022-06-06 12:25] SMAsadAli opened #194 "Support for React Native"
Hi, I was trying to use your package in my react native project and caught a lot of errors. Is this package supported for react-native or just for react-js

[2022-06-15 00:43] diegolego commented on #173
Same problem. Just add a unique key to each "inputContent" element. That will make the warning disappear.

[2022-08-25 13:02] Filipeue opened #199 "Dragover crash while dragging anything else but file"
It will crash when you have other elements in the app that can be dragged and are being dragged over react-dropzone-uploader.

[2022-09-12 18:45] stalgiag commented on #71
This is blocking us from displaying a custom upload error message from the backend. We do additional file validation on the backend and we want to be able to pass back an informative message when the upload doesn't validate. The response body is not available on 'error_upload'.

[2022-09-20 18:22] chinnep commented on #56
I've also discovered this same issue. The issue arises with drag 'n drop into the component. The file comes in as a DataTransferItem which has no name. The only props are type and kind (file) which aren't enough to determine if it exists already.

[2022-09-21 11:53] Gkanawati commented on #56
What worked for me, is to use the filter() to check each submission in useDropzone:

[code]

[2022-09-29 17:17] Jason-CKY opened #200 "Does not render preview and submit button on React StrictMode"
As mentioned in the title, it does not render preview and submit button when i run the code on React.StrictMode

[2022-10-14 23:51] scd8418 commented on #200
I am having the same problem.

[2022-10-19 00:38] fernandosmither commented on #200
Same

[2022-10-31 10:53] aliMurtaja commented on #200
after spending a couple of hours.
I managed to solve this Issue.

all you need to update your state while uploading is running.
the state can be anything.

ex::

 const [isUpdatePreview, setIsUpdatePreview] = useState(false)

 <Dropzone
        getUploadParams={getUploadParams}
        classNames={{ inputLabelWithFiles: defaultClassNames.inputLabel }}
        onChangeStatus={handleChangeStatus}
 /